#contenedor{
	width:100%;
	margin:auto;
	background-color:#999999;
}
#encabezado{
	text-align:center;
	background-color:#996699;
	align-self: center;
	font-family:courier;
	margin:auto;
}
#menu1{
	background-color:#999999;
	text-align:left;
	width:30%;
	margin:auto;
}
#derecha{
	float:right;
	background-color:#999999;
	width:80%;
	font-size:20;
	margin:auto;
	text-align:center;
}
#izquierda{
	background-color:#999999;
	float:left;
	width:20%;
	text-align:center;
	margin:auto;
}
#piepagina{
	clear:both;
	background-color:#ffccff;
	margin:auto;
}
