#contenedor{
	width:100%;
	margin:auto;
	background-color:#336633;
}
#encabezado{
	text-align:center;
	background-color:#777777;
	align-self: center;
}
#menu1{
	background-color:#336633;
	text-align:left;
	width:25%
}
#derecha{
	float:right;
	background-color:#777777;
	width:80%;
}
#izquierda{
	background-color:#777777;
	float:left;
	width:20%;
	text-align:center;
}
#piepagina{
	clear:both;
	background-color:#ffccff;
}
.img{
	width:50px;
	heigth:50px;
}